/* background: */
/* html -  #2b1714 */
/* полоска бронирования и footer - #2f2320 */
/* white back - #fffbef */
/* card nomera - #f8f1e1 */

/* text: */
/* foregraund prm - #ffffff */
/* foregraund sec - #271c1d */
/* text muted - #a38d7f */
/* text muted sec - #69594F */

/* another: */
/* red - #b61e28 */
/* deep red - #9a1625 */

/* breakpoint: */
/*  min-width: 1200px */

/* font: */
/* Circe */
