@layer utilities {
	.shadow-default {
		@apply shadow shadow-neutral-400;
	}
	.p-page {
		@apply px-[10vw] py-8 md:px-[6vw];
	}
	.p-small {
		@apply px-3 py-2 md:px-5;
	}
	.flex-center {
		@apply flex items-center justify-center;
	}
	.col-center {
		@apply flex flex-col items-center justify-center;
	}
	.abs-center {
		@apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
	}
}
